<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Список</title>
    <style>
      body {
        background-image: url(https://sun9-63.userapi.com/c845216/v845216194/18c41e/1HRV83cBv0I.jpg)
      }
    </style>
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <div class="spisok">
    <ol> Оружие
       <li>AK-74</li>
       <li>M95 Barret</li>
       <li>M4A1</li>
       <li>M416</li>
       <li>TAVOR</li>
       <li>P90</li>
       <li>M1911</li>
       <li>Five-Seven</li>
       <li>M98B</li>
     </ol>

   </div>

  </body>
</html>
