<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Таблица</title>
  </head>
  <body>
    <div class="tablica">
      <table border="3">
   <caption>Оружие</caption>
   <tr>
     <th>______________</th>
    <th bgcolor = #4287f5>Цена, руб</th>
    <th bgcolor = #4287f5>Калибр, мм</th>
    <th bgcolor = #4287f5>Наличие</th>
    <th bgcolor = #4287f5>Страна-производитель</th>
   </tr>
    <tr><th bgcolor = rgba(0,255,0)>AK-74</th><td bgcolor = #4bf542>30000</td><td bgcolor = #f5f542>5.45X39</td><td bgcolor = #f5f542>Есть</td><td bgcolor = #4bf542>Россия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>AUG A3</th><td bgcolor = #f5f542>120000</td><td bgcolor = #4bf542>5.56x45</td><td bgcolor = #4bf542>Есть</td><td bgcolor = #f5f542>Германия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>M95 Barret</th><td bgcolor = #f5f542>699999</td><td bgcolor = #4bf542>.50</td><td bgcolor = #4bf542>Нет</td><td bgcolor = #f5f542>США</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>Сайга-12К</th><td bgcolor = #4bf542>25000</td><td bgcolor = #f5f542>12</td><td bgcolor = #f5f542>Есть</td><td  bgcolor = #4bf542>Россия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>TAVOR</th><td bgcolor = #f542e3>595000</td><td bgcolor = #f542e3>5.56x45</td><td bgcolor = #f542e3>Нет</td><td bgcolor = #f542e3>Бельгия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>AK-9</th><td bgcolor = #f542e3>90000</td><td bgcolor = #f5f542>9</td><td bgcolor = #f5f542>Есть</td><td bgcolor = #f5f542>Россия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>ТОЗ-34</th><td bgcolor = #f542e3>15000</td><td bgcolor = #f5f542>12</td><td bgcolor = #f5f542>Есть</td><td bgcolor = #f5f542>Россия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>ГП-40</th><td bgcolor = #f542e3>150000</td><td bgcolor = #f57e42>40mm граната</td><td bgcolor = #f5f542>Нет</td><td bgcolor = #f5f542>Россия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>P90</th><td bgcolor = #f5f542>30000</td><td bgcolor = #f5f542>5.7</td><td bgcolor = #f5f542>Нет</td><td bgcolor = #f5f542>Бельгия</td></tr>
    <tr><th bgcolor = rgba(0,255,0)>ТТ-40</th><td bgcolor = #f5f542>40000</td><td bgcolor = #f542e3>9x39</td><td bgcolor = #f542e3>Нет</td><td bgcolor = #f542e3>Россия</td></tr>

  </table>
  </div>
  </body>
</html>
